mount mode="A" memory-db="memory.db"

personas {
    default "@pattern-default"
}

isolate-from-persona policy="none"

jj enabled=false

project name="pattern" created-at="2026-04-20T22:26:22.809915888+00:00"
